
<suite name="ParallelSuite" parallel="tests" thread-count="2">
    <test name="ChromeTests">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="testRunners.DynamicRunner"/>
        </classes>
    </test>
    <!--
    <test name="MicrosoftEdge">
        <parameter name="browser" value="edge" />
        <classes>
            <class name="testRunners.ParallelTestRunner"/>
        </classes>
    </test>
    -->
</suite>